body,html{
	margin: 0;
	padding: 0;
	height: 100%;
	background-image: url("Camou Pattern.png") !important;
  background-repeat: repeat;
  background-attachment: fixed;
}

.user_card{
	height: 400px;
	width: 350px;
	margin-top: auto;
	margin-bottom: auto;
	background: #f39c12;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
}

.card{
	position: relative;
	display : flex;
	justify-content: center;
}

.brand_logo_container{
	position: absolute;
	height: 170px;
	width: 170px;
	top: -75px;
	border-radius: 50%;
	background: #ffffff;
	padding: 10px;
	text-align: center;
}

.brand_logo{
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border: 2px solid white;
}

.form_container{
	margin-top: 100px;
}

.login_btn{
  width: 100%;
  background: #c0392b;
  color:white;
}

.login_btn:focus{
  box-shadow: none ;
  outline: 0px ;
}

.login_container{
  padding: 0 2rem;
}

.input-group-text{
  background : #c0392b ;
  color:white ;
  border: 0 ;
  border-radius: 0.25 rem 0 0 0.25rem ;
}

.input_user,.input_pass:focus{
  box-shadow: none ;
  outline: 0px ;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
	background-color: #c0392b ;
}
